@import "base";
@import "utilidades";
@import "layout";
@import "components";




/* ------------------------INDEX -------- BIENVENIDA CONTAINER------------------------------------------------*/


.slider__container {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 80px;
   
        .slider__container--img {
            border-radius: 10px;
            border: 2px solid rgba( 255, 255, 255, 0.18 );
        }

}


/*------------------------ INDEX------ BADA CONTAINER ------------------------------------------------ */

.bada__container {
    @include grid-center;
    grid-template-columns: 5fr auto 5fr;
    grid-template-areas: "info flecha video";
    background-image: radial-gradient(circle, rgb(255, 255, 255), rgb(209, 207, 207));
    padding-bottom: 150px;
    padding-top: 100px;


        .bada__info{
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            margin: auto;
            width: calc($ancho_full - 30%);
            background: map-get($map: $glassformismo, $key:background);
            box-shadow: map-get($map: $glassformismo, $key:box-shadow);
            backdrop-filter: map-get($map: $glassformismo, $key:backdrop-filter);
            border-radius: map-get($map: $glassformismo, $key:border-radius);
            border:map-get($map: $glassformismo, $key:border);
        

                    .bada__info--title {
                        margin-top: 0;
                        font-size: 40px;
                    }

                    .bada__info--paragraph {
                        margin: 30px 20px 30px 20px;
                    }

                    .bada__info--img {
                        border: black solid;
                        width: $ancho_half;
                        border-radius: 50%;
                    }
                    
        }

        .bada__video--mp4 {
            border: black solid 2px;
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            border-radius: 10px;
            margin-left: 40px;
        }

}



/*------------------------INDEX ------  TIPOS CONTAINER ------------------------------------------------ */


.tipos__container {
    padding-bottom: 80px;
    background-image: linear-gradient( rgb(63, 62, 62), rgb(10, 10, 10));
    padding-bottom: 150px;
    padding-top: 50px;


        .tipos__encargos {
            @include grid-center;
            grid-template-columns: 6fr 6fr;
            padding-top: 80px;
           

                .tipos__info {
                    text-align: center;
                    padding-top: 20px;
                    margin: auto;
                    background-image: radial-gradient(circle, rgb(63, 62, 62), rgb(10, 10, 10));
                    box-shadow: 0 8px 32px 0 rgba(184, 184, 185, 0.37);
                    backdrop-filter: map-get($map: $glassformismo, $key:backdrop-filter);
                    border-radius: map-get($map: $glassformismo, $key:border-radius);
                    border:map-get($map: $glassformismo, $key:border);
                    color: $primary_color;
                    padding-bottom: 40px;
                    
                    
                    
                
                            .tipos__info--title {
                                margin-top: 0;
                                font-size: 35px;
                                color: $primary_color;
                            }

                            .tipos__info--paragraph {
                                margin: 30px 20px 60px 20px;
                            }

                            .tipos__info--img {
                                border: black solid;
                                width: 220px;
                                height: 200px;
                                border-radius: 5%;
                                margin-bottom: 20px;
                            }

                            .tipos__form {
                                margin-top: 30px;
                            }

                }
        }

                #tipos__info--realizadas {
                                
                    &:hover {
                        transform: skewX(-2deg) skewY(-2deg);
                        border: white solid 3px;
                    }
                }
                #tipos__info--pedidos {
                                
                    &:hover {
                        transform: skewX(2deg) skewY(2deg);
                        border: white solid 3px;
                    }
                }
}





/*----------------------------ACERCA DE MI ---------------------------- ----------------------------  */


.bio__container {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-areas: "bio img_bio";
    padding-bottom: 50px;
    padding-top: 60px;
    background-image: linear-gradient( rgb(255, 255, 255), rgb(209, 207, 207));



        .bio__container--texto {
            grid-area: bio;
            margin-left: 80px;
        

                .bio__texto--title {
                    margin-top: 0;
                }

                .bio__texto--paragraph {
                    line-height: 1.7;
                    align-items: center;
                }
        }

        .bio__container--img {
            grid-area: img_bio;
            margin: auto;
        
                .bio__img {
                    max-width: 400px;
                    margin-bottom: 70px;
                }

                .bio__img--pic {
                    width: $ancho_full;
                    background: map-get($map: $glassformismo, $key:background);
                    box-shadow: map-get($map: $glassformismo, $key:box-shadow);
                    backdrop-filter: map-get($map: $glassformismo, $key:backdrop-filter);
                    border-radius: 50px;
                    border:map-get($map: $glassformismo, $key:border);
                }
        }
}






/*---------------------------- OBRAS---------------------------- */



.container {
    margin: auto;
    text-align: center;


        .obras_title {
            padding-top: 20px;
            margin-bottom: 50px;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
        } 

        .obra_img_rectangulares {
            width: 250px;
            height: 150px;
            margin: auto;
            background: rgba(5, 5, 5, 0.5);
            box-shadow: 0 2px 8px 0 rgba( 31, 38, 135, 0.37 );
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            transition: all 1s;

            &:hover {
                transform: scale(1.2,1.2);
                border: black solid 2px;
            }
        }

        .obra_img_cuadrados {
            @extend.obra_img_rectangulares;
            width: 200px;
            height: 200px;
        }

        .obra_img_minis {
            @extend.obra_img_rectangulares;
            width: 100px;
            height: 150px;
        }

        .obras_especificaciones {
            margin-bottom: 50px;
            font-size: 20px;
        
                .obra_img_title {
                    margin-bottom: 0;
                    margin-top: 30px;
                }

                .obra_img_paragraph {
                    margin-top: 0.5rem;
                    font-size: 15px;
                    margin-bottom: 5px;
                }

                .obra_img_paragraph_stock {
                    font-size: small;
                    font-style: italic;
                }
        }
}




/*----------------------------- ENCARGOS ---------------------------- ---------------------------- */

.calculo__container {  
    padding-bottom: 70px;
    padding-top: 70px;
    background-image: linear-gradient( rgb(255, 255, 255), rgb(209, 207, 207));
}


.encargos_container {
    grid-area: paso2;
    padding-bottom: 80px;
    background-image: linear-gradient( rgb(255, 255, 255), rgb(209, 207, 207));

        .encargos_title {
            text-align: center;
            margin-top: 0;
            padding-top: 40px;
            margin-bottom: 10px;
        }
        .encargos_paragraph {
            text-align: center;
            font-style: italic;
        }
}




.aclaraciones_container {
    grid-area: paso2;
    padding-bottom: 80px;
    background-image: linear-gradient( rgb(255, 255, 255), rgb(209, 207, 207));

        .aclaraciones_title {
            margin-bottom: 60px;
            padding-top: 40px;
            text-align: center;
        }
        
        .aclaraciones_cuadro {
            margin: auto;
            border: 1px black solid;
            width: 90%;
       
                .aclaraciones_paragraph {
                    line-height: 1.7;
                    margin-bottom: 15px;
                    margin-left: 20px;
                }
        }
}



/* ----------------------------CONTACTO --------------------------------------------------------*/

.contacto__container {
    @include grid-center;
    background-image: linear-gradient( rgb(255, 255, 255), rgb(209, 207, 207));
    padding-bottom: 70px;
    grid-template-columns: 1fr 2fr;
    gap: 0.5em;
    
        .contacto__container--info {
            margin-top: 0;
            margin-left: 50px;
       

                .contacto__container--title {
                    margin-top: 80px;
                }

                .contacto__direccion {
                    margin-top: 30px;
                    margin-bottom: 20px;
                }
                
                .contacto__cel {
                    margin-bottom: 20px;
                }
                
                .contacto__insta {
                    margin-top: 20px;
                }
                
                .enlace__insta {
                    color: black;
                }

                .contacto__mapa{
                    margin-top: 40px;
                }
                
                .contacto__insta--logo {
                    display: inline-flex;
                }
        }
}
   



/*------------------- REGISTRO -------------------------------*/

.registro_container {
    margin-bottom: 80px;
}





/* -----------------------PROXIMAMENTE ------------------------------------------*/

.proximamente_container {
    background-image: radial-gradient(circle, rgb(121, 119, 119), rgb(100, 98, 98));
    padding-bottom: 70px;
    padding-top: 20px;
    text-align: center;

        .proximamente_elementos {
            margin-top: 25px;
       
                .proximamente_title {
                    font-size: 40px;
                    font-family: Arial, Helvetica, sans-serif;
                    color: $primary_color;
                }
                    

                .proximamente_paragraph {
                    margin-top: 20px;
                    font-size: 20px;
                    font-style: italic;
                    color: $primary_color;
                }

                .proximamente_foto {
                    margin-top: 40px;
                    margin-bottom: 25px;
                

                        .proximamente_img {
                            width: 20%;  
                            border-radius: 100px;
                            border: black solid 5px;
                        }
                }
        }

}





/* ------------------ MEDIA QUERIES --------------------------------------------------------*/

/*-------------TABLET!!!!!! ----------------------------------*/

@media (max-width:992px){

    .footer__info {
        display: block;
    }

    .nav__footer--items {
        justify-content: center;
        width: 90%;
        gap:2em;
    }

    .footer__encontrame {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 25px;
    }
    
 /* INDEX */


    .bada__info {
        width: 90%;

    }

.bada__info--img {
    width: 50%;
}

    .bada__flecha--img {
        display: none;
  }

    .bada__video {
        text-align: center;
}

  .bada__video--mp4 {
        width: 90%;
        margin: auto;
  }

  .tipos__encargos {
        display: block;
}

    .tipos__info {
        margin: auto;
        width: 60%;
}

#tipos__info--realizadas {
    margin-bottom: 40px;
}




/* ACERCA DE MI */

.bio__container {
    display: block;

}

.bio__container--texto {
    margin: 0 40px 50px 40px;
}

.bio__img {
 margin: auto;
}


/* ENCARGOS */

.calculo__form--datos {
    display: block;
}

.label__tamano {
    display: block;
  }
  
  .label__sentido {
    display: block;
    margin-top: 20px;
  }
   
  .label__bastidor {
    display: block;
    margin-top: 0;
  }
  
  .label__diseno {
    display: block;
  }


  #sentido {
    margin-left: 30px;
  }

  #diseno {
    margin-left: 40px;
  }
 
  .calculo__label {
    display: block;
  }

 /* CONTACTO */

 .contacto__container--title {
    margin-top: 30px;
  }

  .contacto__container--info {
    margin: auto;
    text-align: center;
  }

  .contacto__mapa {
    max-width: 400px;
    margin-top: 20px;
    margin-left: 20px;
  }

 .contacto__form {
    margin: auto;
 
  }

}
   




/*------------ MOBILE!!!!!! ----------------------------------*/

@media (max-width:767px) {

    .footer__info {
        display: block;
    }

    .nav__footer {
        text-align: center;
    }
    
    .footer__title {
        text-align: start;
        margin-bottom: 20px;
    }

    .nav__footer--items {
        display: block;
        font-size: 20px;
        margin-bottom: 40px;
        padding-left: 0;
    }

    .footer__encontrame {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 25px;
    }

    
    /* INDEX */

   

    .bada__container {
        display:block;     
}

    .bada__info {
        margin:auto;
        margin-bottom: 50px;
    }

    .bada__info--img {
        width: 50%;
    }

    .bada__flecha--img {
        display: none;
    }

    .bada__video {
        text-align: center;
    }

  .bada__video--mp4 {

        margin: auto;
    }

    .tipos__info {
        margin: auto;
        width: 70%;
    }


/* ACERCA DE MI */

    .bio__container {
    display: block;
}

    .bio__container--texto {
    margin: 0 40px 50px 40px;
}

    .bio__img {
    max-width: 300px;
    margin: auto;
}



/* ENCARGOS */


.calculo__form--datos {
    display: block;
}

.label__tamano {
    display: block;
  }
  
  .label__sentido {
    display: block;
    margin-top: 20px;
  }
   
  .label__bastidor {
    display: block;
    margin-top: 0;
  }
  
  .label__diseno {
    display: block;
  }

  .calculo__label {
    display: block;
  }



  /* CONTACTO */

  .contacto__container {
    display: block;
    padding-top: 50PX;
  }

  .contacto__container--title {
    margin-top: 0px;
  }

  .contacto__container--info {
    margin: auto;
    text-align: center;
  }

  .contacto__mapa {
    max-width: 300px;
    margin-top: 20px;
  }

  .contacto__form {
    margin: auto;
    margin-top: 60px;
  }



/* NAV */

.pages__header--container {
    overflow: hidden;
    position: relative;
  }
  
  /* Esconder navbar */
 .pages__navbar {
    background-color: rgb(90, 90, 90);
    display: none;
    padding-left: 40px;
  }

 .pages__navbar a:hover {
    color: rgb(177, 175, 175);
 } 
  
  .pages__navbar a {
    color: $primary_color;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
  }
  
  .burguer__icon {
    display: block;
    position: absolute;
    right: 20px;
    font-size: 30px;
    color: $primary_color;
}

}





















